@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.canvas {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.blur-10 {
  filter: blur(10px);
}

.blur-20 {
  filter: blur(20px);
}
.blur-30 {
  filter: blur(30px);
}
.canvas {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.container {
  height: 100vh; /* Full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
  z-index: 10; /* Higher than canvas */
}
.safari-blur {
  filter: blur(10px); /* Adjust the blur value as needed */
}